<main>
  <div class="row justify-content-center mb-4">
        <div class="col-5">
        <div class="card shadow-sm">
        <div class="card-header {{#if editMode}}bg-warning{{else}}bg-info{{/if}} text-light">
          <h4>{{#if editMode}}Editar Categoria{{else}}Crer a Categoria{{/if}}</h4>
        </div>
        <div class="card-body">
          <form method="post" action="{{#if editMode}}/categories/edit{{else}}/categories/create{{/if}}">

            {{#if editMode}}
                <input type="hidden" name="categoryId" value="{{category.id}}">
            {{/if}}

            <div class="form-group row mb-3">
                <div class="col">
                    <label for="name" class="form-label"><strong
                        >Nombre:</strong></label>
                    <input
                        required
                        type="text"
                        id="name"
                        name="name"
                        placeholder="Escribe el nombre"
                        class="form-control shadow-sm"
                        value="{{#if editMode}}{{category.name}}{{/if}}"
                    />
                </div>
            </div>

            <div class="form-group row mb-3">
                <div class="col">
                    <label for="description" class="form-label"><strong
                        >Descripcion:</strong></label>
                    <textarea
                        required
                        id="description"
                        name="description"
                        placeholder="Escribe la Descripcion."
                        rows="5"
                        class="form-control shadow-sm"
                    >{{#if editMode}}{{category.description}}{{/if}}</textarea>
                </div>
            </div>

            <div class="container-fluid text-center mt-4">
                <button
                id="btn-save-categoria"
                type="submit"
                class="btn btn-primary shadow-sm"
                >Guardar</button>
                <a href="/categories" class="btn btn-secondary shadow-sm">Atras</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>